<div class="d-flex flex-column">
  <h1>Editando publicacion</h1>
  <%= render "form", post: @post %>
  <br>
  <div class="text-end m-5">
    <%= link_to "Ver esta publicacion", @post, class:'btn btn-light btn-sm' %>
    <%= link_to "Inicio", posts_path, class:'btn btn-light btn-sm' %>
  </div>
</div>
